body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

.first {
  min-height: 25vh;
  background-color: lightblue;
  border-bottom: 1px solid;
}

.first__text_wrapper {
  width: 75%;
  float: left;
  min-height: 25vh;
  display: table;
}

.first__text {
  margin: auto 0;
  display: table-cell;
  vertical-align: middle;
}

.first__header_wrapper {
  width: 25%;
  min-height: 25vh;
  float: right;
  text-align: center;
  display: table;
}

.first__header {
  display: table-cell;
  vertical-align: middle;
}

.wrapper_2_3_4_5_6 {
  min-height: 50vh;
}

.fourth {
  width: 25%;
  min-height: 50vh;
  float: right;
  background-color: lightcoral;
  text-align: center;
  border-left: 1px solid;
  display: table;
}

.fourth__text,
.second__text,
.fifth__text,
.sixth__text {
  display: table-cell;
  vertical-align: middle;
}

.wrapper_2_5 {
  width: 25%;
  float: left;
  min-height: 50vh;
  display: table;
}

.second {
  height: 16.66%;
  background-color: lightgreen;
  text-align: center;
  display: table-row;
}

.second__text {
  border-bottom: 1px solid;
}

.fifth {
  background-color: lightcoral;
  text-align: center;
  display: table-row;
}

.wrapper_3_6 {
  width: 50%;
  float: left;
  min-height: 50vh;
  border-left: 1px solid;
  display: table;
}

.third {
  height: 80%;
  min-height: 40vh;
  display: table-row;
}

.third__elements {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.third ul {
  list-style-type: none;
}

.sixth {
  background-color: lightgreen;
  display: table-row;
  text-align: center;
}

.sixth__text {
  border-top: 1px solid;
}

.seventh {
  min-height: 25vh;
  background-color: lightblue;
  border-top: 1px solid;
}

.seventh__text_wrapper {
  width: 75%;
  float: left;
  min-height: 25vh;
  display: table;
}

.seventh__text {
  padding: 1%;
  margin: auto 0;
  display: table-cell;
  vertical-align: middle;
}

.seventh__header_wrapper {
  width: 25%;
  min-height: 25vh;
  float: right;
  display: table;
}

.seventh__header {
  display: table-cell;
  vertical-align: middle;
}
