body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

div {
  box-sizing: border-box;
}

.first {
  min-height: 25vh;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid;
}

.first__text {
  margin: auto;
}

.first__header_wrapper {
  margin: auto;
}

.first__header {
  text-align: center;
}

.wrapper_2_3_4_5_6 {
  min-height: 50vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.fourth {
  background-color: lightcoral;
  text-align: center;
  display: grid;
  align-items: center;
  border-left: 1px solid;
}

.wrapper_2_3_5_6 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.wrapper_2_5 {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.second {
  background-color: lightgreen;
  text-align: center;
  display: grid;
  align-items: center;
  border-bottom: 1px solid;
}

.fifth {
  background-color: lightcoral;
  text-align: center;
  display: grid;
  align-items: center;
}

.wrapper_3_6 {
  display: grid;
  grid-template-rows: 4fr 1fr;
  border-left: 1px solid;
}

.third {
  display: grid;
  align-content: center;
  text-align: center;
}

.third ul {
  list-style-type: none;
}

.sixth {
  background-color: lightgreen;
  text-align: center;
  display: grid;
  align-items: center;
  border-top: 1px solid;
}

.seventh {
  min-height: 25vh;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-top: 1px solid;
}

.seventh__text {
  padding: 1%;
  margin: auto;
}

.seventh__header_wrapper {
  margin: auto 0;
}
