body {
  background-color: #494399;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.body-wrapper {
  width: 70%;
  margin: auto;
}

.navbar {
  display: grid;
  grid-template-columns: 3fr 12fr 4fr;
  margin-bottom: 1%;
  margin-top: 1%;
  max-height: 7vh;
}
.header_logo {
  margin-left: 16%;
}

.header_logo_text {
  color: #b8b7ba;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.header_burger-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header_media-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_media-links_list {
  list-style: none;
  margin: 0;
  display: flex;
}

.header_media-links_list li {
  padding-right: 10%;
}
.header_media-links_list img {
  width: 2rem;
}

.main {
  min-height: 83vh;
}

.main_txt-img {
  position: absolute;
  left: 20%;
  top: 12%;
}
.main_txt-img_text {
  font-size: 4.5rem;
  margin-bottom: 1rem;
}
.main_txt-img_image {
  width: 60%;
}

.main_strip {
  position: absolute;
  min-height: 83vh;
  min-width: 19%;
  background-color: #2cccc4;
  left: 27%;
}

.main_background {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 83vh;
}

.main_background_points {
  list-style: none;
  width: 22%;
  padding: 0;
  margin-right: 10%;
  margin-top: -3%;
}

.main_background_points_first {
  margin-bottom: 50%;
}

.main_background_points_text {
  padding-left: 15%;
}

.main_background_points a {
  text-decoration: none;
}

.main_background_points h3 {
  color: #fff;
  padding-bottom: 0.25rem;
  display: inline;
  font-weight: bold;
  border-bottom: 1px solid;
  font-weight: 400;
}

.main_background h2 {
  color: #b8b7ba;
  margin-bottom: 1.5rem;
}

footer {
  background-color: #333333;
  min-height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 1670px) {
  .main_txt-img_text {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .main_txt-img_image {
    width: 55%;
  }
}

@media screen and (max-width: 1500px) {
  .body-wrapper {
    width: 100%;
    margin: auto;
  }
  .main_txt-img {
    left: 20%;
    top: 17%;
  }
  .main_txt-img_text {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .main_txt-img_image {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  header {
    width: 100%;
    box-sizing: border-box;
  }
  .header_media-links_list {
    padding: 0%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .header_media-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  .header_media-links_list li {
    padding: 2px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    margin-top: 1%;
    max-height: 7vh;
  }
  .header_logo {
    margin: 0;
    width: 23%;
    text-align: right;
    align-self: center;
  }
  .header_logo_text {
    font-size: 1.5rem;
  }
  .header_burger-menu {
    margin-left: 15%;
  }

  .main_strip {
    min-height: 45vh;
    min-width: 35%;
    left: 32%;
  }
  .main_background {
    justify-content: center;
    align-items: end;
  }
  .main_txt-img {
    left: 18%;
    top: 15%;
    position: absolute;
  }
  .main_txt-img_text {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .main_txt-img_image {
    width: 80%;
  }
  .main_background {
    min-height: 110vh;
  }
  .main_background_points {
    padding-top: 80%;
    width: 70%;
    margin: auto;
  }
  .main_background_points_text {
    padding-left: 0;
  }
  .main_background_points_first {
    margin-bottom: 30%;
  }
  footer p {
    width: 80%;
  }
}

@media screen and (max-width: 380px) {
  .main_txt-img_text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
